.grid_view {
    box-sizing: border-box;
}

.center_grid {
  padding-left: 30px;
  padding-right: 30px;
}
  
  /* Create two equal columns that floats next to each other */
.column_grid {
    float: left;
    width: 45%;
    height: auto;
}

.column_grid_category {
    float: left;
    width: 20%;
    height: auto;
}

.column_grid_article {
  float: left;
  width: 45%;
  height: auto;
}
  
  /* Clear floats after the columns */
.row_grid:after {
    content: "";
    display: table;
    clear: both;
}